<%- include('../includes/header.ejs') %>


    <body>
        <%- include('../includes/navbar.ejs') %>
            <div class="content">
                <h1 class="title">Ajouter un mandat</h1>
                <div class="form-container">
                    <form data-redirection="/mandats" data-message="Mandat ajouté, cliquez sur le bouton pour revenir à la page des mandats" data-ressource="mandats" id="add-form" class="form-flex" enctype="multipart/form-data"
                        method="POST" onsubmit="postForm(event)">
                        <div class="form-group">
                            <label for="entreprise" class="form-label">Logo</label>
                            <input type="file" class="file-input" name="mandatLogo">


                        </div>
                        <div class="form-group">
                            <label for="label" class="form-label">Label</label>
                            <input required id="label" name="label" id="entreprise" type="text" class="form-input"
                            placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="categorie" class="form-label">Catégorie</label>
                            <select required id="categorie" name="categorie" id="categorie" class="form-select">
                                <option value="">Choisir une section</option>
                                <option value="artisanat">Artisanat</option>
                                <option value="efj">efj</option>
                                <option value="eni">eni</option>
                                <option value="ouverture-regionale">ouverture-regionale</option>
                                <option value="pe-at">pe-at</option>
                                <option value="social">Social</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="nom" class="form-label">Nom</label>
                            <input required type="text" id="nom" name="nom" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="mission" class="form-label">Mission</label>
                            <input required type="text" id="mission" name="mission" class="form-input"
                                placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="composition" class="form-label">Composition</label>
                            <input required type="text" id="composition" name="composition" class="form-input"
                                placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="prenom" class="form-label">Renouvellement</label>
                            <input required type="text" id="renouvellement" name="renouvellement" class="form-input"
                                placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Durée</label>
                            <input required type="text" id="duree" name="duree" class="form-input"
                                placeholder="Réponse">
                        </div>
                        <div class="form-action">
                            <input type="submit" class="cta" value="Confirmer la création">
                        </div>
                    </form>
                </div>
            </div>
            <%- include('../includes/succes.ejs') %>

    </body>
    <script src="js/api.js"></script>
    <script src="/js/index.js"></script>

    </html>