<%- include('../includes/header.ejs') %>
    <%- include('../includes/navbar.ejs') %>
        <div class="content-form">
            <%- include('../includes/form-tools.ejs') %>
                <form action="/sondages/add" class="form-editor scrollbar" id="js-content" method="POST">
                    <input type="text" name="titre" class="editor-title" contenteditable id="js-title"
                        value="Titre du sondage" />
                    <input type="submit" value="Enregistrer le formulaire" class="editor-save" onclick="saveForm()">
                    <div class="editor-question" style="order: 1" id="js-container1">
                        <input type="hidden" class="old" name="old_0" value="true">
                        <div class="question-counter">1</div>
                        <div onclick="destroyInput(1)" class="question-delete"><img src="img/chat.png" width="32px"
                                height="32px" alt="delete">
                        </div>
                        <div onclick="slideUp(1)" class="question-slide slide-up"><img class="chevron-up"
                                src="img/down-chevron.png" width="20px" height="20px" alt="delete"></div>
                        <div onclick="slideDown(1)" class="question-slide slide-down"><img src="img/down-chevron.png"
                                width="20px" height="20px" alt="delete"></div>
                        <input name="label_0" class="question-label" type="text"
                            value="Raison sociale de l' entreprise">
                        <input name="type_0" type="hidden" value="text" class="question-type">
                        <input name="description_0" class="question-sub" placeholder="description" />
                        <input class="question-input" type="text" placeholder="Réponse">
                        <div class="question-required">
                            <input class="required-checkbox" type="radio" name="required_0">

                            <div class="required-label">Obligatoire</div>
                        </div>
                    </div>
                    <input type="hidden" name="total" id="form-length" value="1">
                </form>
        </div>
        <script src="js/form.js"></script>

        <%- include('../includes/footer.ejs') %>