<div class="form-tools scrollbar">
    <div class="tools-flex">
        <div class="tools-item" id="js-question">
            <div class="tools-item-figure">
                <img src="img/question-sign.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Question</h6>
        </div>
        <div class="tools-item" id="js-identite">
            <div class="tools-item-figure">
                <img src="img/identite.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Nom et Prénom</h6>
        </div>
        <div class="tools-item" id="js-raison-sociale">
            <div class="tools-item-figure">
                <img src="img/entreprise.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Raison sociale</h6>
        </div>
        <div class="tools-item" id="js-email">
            <div class="tools-item-figure">
                <img src="img/mail.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Adresse E-mail</h6>
        </div>
        <div class="tools-item" id="js-date">
            <div class="tools-item-figure">
                <img src="img/date.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Date</h6>
        </div>
        <div class="tools-item" id="js-telephone">
            <div class="tools-item-figure">
                <img src="img/telephone.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Téléphone</h6>
        </div>
        <div class="tools-item" id="js-section">
            <div class="tools-item-figure">
                <img src="img/section.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Section</h6>
        </div>
        <div class="tools-item" id="js-secteur">
            <div class="tools-item-figure">
                <img src="img/location.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Secteur</h6>
        </div>
        <div class="tools-item" id="js-rgpd">
            <div class="tools-item-figure">
                <img src="img/rgpd.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">RGPD</h6>
        </div>

        <div class="tools-item" id="js-choix">
            <div class="tools-item-figure">
                <img src="img/decision.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Oui / Non</h6>
        </div>
        <div class="tools-item" id="js-salaries">
            <div class="tools-item-figure">
                <img src="img/teamwork.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Nombre de salariés</h6>
        </div>
        <div class="tools-item" id="js-notation">
            <div class="tools-item-figure">
                <img src="img/slider.png" width="25px" height="25px">
            </div>
            <h6 class="tools-item-label">Notation sur echelle</h6>
        </div>
    </div>
</div>