<!-- DESKTOP & TABLET -->
<div class="navbar">
    <div class="navbar-logo"><img src="" width="64px" height="64px" alt="Accueil"></div>
    <div class="navbar-links">
        <a href="/accueil" class="navbar-link">Accueil</a>
        <a href="/adherents" class="navbar-link">Adhérents</a>
        <a href="/mandats" class="navbar-link">Mandats</a>
        <a href="/mandataires" class="navbar-link">Mandataires</a>
        <a href="/sondages" class="navbar-link">Sondages</a>
    </div>
    <a href="/logout" class="navbar-settings"><img width="24px" height="24px" src="img/disconnect.png" alt="deconnexion"></a>
</div>

<!-- MOBILE -->
<div class="navbar-mobile">
    <div class="navbar-logo"><img src="" width="64px" height="64px" alt="Accueil"></div>
    <div class="navbar-title" onclick="showNavbar()">MENU</div>
</div>

<div class="navbar-content" style="display: none;">
    <h2 class="navbar-mobile-title" onclick="closeNavbar()">Fermer le menu</h2>
        <a href="/accueil" class="navbar-mobile-link">Accueil</a>
        <a href="/adherents" class="navbar-mobile-link">Adhérents</a>
        <a href="/mandats" class="navbar-mobile-link">Mandats</a>
        <a href="/mandataires" class="navbar-mobile-link">Mandataires</a>
        <a href="/sondages" class="navbar-mobile-link">Sondages</a>
</div>
