<div class="navbar">
    <div class="navbar-logo"><img src="" width="64px" height="64px" alt="Accueil"></div>
    <div class="navbar-links">
        <a href="/accueil" class="navbar-link">Accueil</a>
        <a href="/adherents" class="navbar-link">Adhérents</a>
        <a href="/mandats" class="navbar-link">Mandats</a>
        <a href="/mandataires" class="navbar-link">Mandataires</a>
        <a href="/sondages" class="navbar-link">Sondages</a>
    </div>
    <a href="/logout" class="navbar-settings"><img width="24px" height="24px" src="img/disconnect.png" alt="deconnexion"></a>
</div>