<div id="modal">
    <div class="modal-title">Succès</div>
    <div class="modal-content">
        <p id="modal-text"></p>
    </div>
    <div class="modal-actions">
        <a class="modal-save no-decoration" id="modal-redirection">Continuer</a>
    </div>
</div>