<%- include('includes/header.ejs') %>


    <body>
        <div class="login">
            <div class="login1"><img class="login-icon" src="img/login.png"></div>
            <div class="login2">
                <h1 class="login-title">Connexion</h1>
            </div>
            <div class="login3">
                <form method="post" onsubmit="login(event)">
                    <label class="login-label" for="email">Adresse email</label>
            </div>
            <div class="login4"><input class="login-input" type="text" id="email" name="email"
                    placeholder="ex. nom@gmail.re"></div>
            <div class="login5"><label class="login-label" for="identifiant">Mot de passe</label></div>
            <div class="login6"><input class="login-input" type="password" id="identifiant" name="identifiant"
                    placeholder="Votre mot de passe"></div>
            <div class="login7">
                <div class="login-remember">
                    <div class="remember-checkbox">
                        <img src="img/check.png" width="12px" height="12px" alt="checked">
                    </div>
                    <p class="remember-text">Se rappeler de moi</p>
                </div>
            </div>
            <div class="login8"><input class="login-submit" type="submit" value="Connexion"></form>
            </div>
            <div class="login9"></div>
        </div>
        <%- include('includes/succes.ejs') %>

    </body>
    <script>
        function login(event) {
            event.preventDefault();
            let user = {
                email: document.getElementById('email').value,
                identifiant: document.getElementById('identifiant').value,
            }
            fetch('https://cpme-rest-api.herokuapp.com/api/users/login', {
                headers: {
                    'Content-type': 'application/json',
                    'withCredentials': 'true',
                    'Access-Control-Allow-Origin': 'true',
                    'Access-Control-Allow-Credentials': 'true'
                },
                method: "POST",
                body: JSON.stringify(user)
            })
                .then((reponse) => reponse.json())
                .then((response) => {
                    if (!response.token) {
                        console.log('Connexion refusée');
                        return;
                    }
                    console.log(response);
                    let message = 'Connexion réussi, cliquez sur le bouton pour continuer';
                    let redirecton = `/`;
                    showModalSucces(message, redirecton)
                })
        }
    </script>

    <script src="js/index.js"></script>
    <script src="js/api.js"></script>

    </html>