<%- include('../includes/header.ejs') %>

    <body onload="updateQuestionCount()">
        <%- include('../includes/navbar.ejs') %>
            <div class="content-form">
                <%- include('../includes/form-tools.ejs') %>

                    <div class="form-editor scrollbar" id="js-content">
                        <h2 class="editor-title" contenteditable id="js-title">Titre du sondage</h2>
                        <div class="editor-save" onclick="saveForm()">Sauvegarder le formulaire</div>
                        <div class="editor-question" style="order: 1" id="js-container1">
                            <div class="question-counter"></div>
                            <div onclick="destroyInput(1)" class="question-delete"><img src="img/chat.png" width="32px"
                                    height="32px" alt="delete">
                            </div>
                            <div onclick="slideUp(1)" class="question-slide slide-up"><img src="img/down-chevron.png"
                                    style="transform: rotate(180deg)" width="20px" height="20px" alt="delete"></div>
                            <div onclick="slideDown(1)" class="question-slide slide-down"><img
                                    src="img/down-chevron.png" width="20px" height="20px" alt="delete"></div>
                            <label class="question-label" contenteditable>Raison sociale de l' entreprise</label>
                            <h4 onclick="updateDescription(1)" class="question-sub" contenteditable>Cliquez ici pour
                                ajouter
                                une description</h4>
                            <input class="question-input" type="text" placeholder="Réponse">
                            <div class="question-required">
                                <div onclick="setCheckboxStatus(1)" class="required-checkbox">
                                    <div class="required-clippath"></div>
                                </div>
                                <div class="required-label">Obligatoire</div>
                            </div>
                        </div>
                    </div>
            </div>
            <%- include('../includes/succes.ejs') %>
    </body>

    <script src="js/form.js"></script>
    <script src="js/api.js"></script>
    <script src="js/index.js"></script>
    <script>


        function saveForm() {
            let sondage = {
                nom: document.getElementById('js-title').innerHTML,
                titre: document.getElementById('js-title').innerHTML,
                parution: false
            }
            let questions = formArray
            try {
                fetch(`https://cpme-rest-api.herokuapp.com/api/sondages`, {
                    headers: {
                        'Content-type': 'application/json',
                        'auth-token': getCookie('token')
                    },
                    method: "POST",
                    body: JSON.stringify(sondage)
                })
                    .then((response) => response.json())
                    .then((response) => {
                        for (let i = 0; i < questions.length; i++) {
                            questions[i].form_id = response._id;
                            questions[i].label = document.getElementsByClassName('question-label')[i].innerHTML;
                            fetch(`https://cpme-rest-api.herokuapp.com/api/questions`, {
                                headers: {
                                    'Content-type': 'application/json',
                                    'auth-token': getCookie('token')
                                },
                                method: "POST",
                                body: JSON.stringify(questions[i])
                            })
                        }
                    })
                let message = 'Sondage ajoutée, cliquez revenir à la liste des sondages';
                let redirecton = `sondages`;
                showModalSucces(message, redirecton)

            } catch (error) {
                console.log(error);
            }
        }

        function displayForm() {
            document.getElementsByClassName('modal')[0].style.display = 'block'
        }
    </script>

    </html>