<div class="navbar">
    <div class="navbar-logo"><img src="https://lavit-gaetan.com/wp-content/uploads/2021/11/cropped-logo_cpme.jpg" width="64px" height="64px" alt="Accueil"></div>
    <div class="navbar-links">
        <a href="/" class="navbar-link">Accueil</a>
        <a href="/adherents" class="navbar-link">Adhérents</a>
        <a href="/mandats" class="navbar-link">Mandats</a>
        <a href="/mandataires" class="navbar-link">Mandataires</a>
        <a href="/sondages" class="navbar-link">Sondages</a>
    </div>
    <div class="navbar-settings">GL</div>
</div>